/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.logo {
    width: 100%;
    max-width: 150px; /* Não ultrapassa 150px mesmo em telas grandes */
    margin-top: 10px;
}

.content {
    margin-top: 20px;
    margin:20px;
    flex: 1; 

}

.content h1 {
    font-size: 1.5em; /* Reduz tamanho em mobile */
}

.content p {
    font-size: 1em; /* Texto menor em mobile */
}
/* Botões - Lado a lado e mesmo tamanho */
.download-buttons {
    flex-direction: row; /* Empilha verticalmente */
    gap: 15px;
    width: 100%;
    max-width: 100px; /* Limita largura máxima */
    margin: 20px 0;
}
.store-button {
    width: 100%; /* Ocupa toda a largura do container */
    max-width: 200px; /* Não cresce além disso */
}

.store-button img {
    width: 100%; /* Garante que a imagem preencha o container */
    height: auto;
}

/* Rodapé fixo na base */
.legal-links {
    background-color: #012E40;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin-top: auto; /* Garante que fique no final */
}
.legal-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

.legal-links span {
    color: #ffffff;
    user-select: none;
}

.legal-links a:hover {
    text-decoration: underline;
}
/* Para telas maiores que 768px (tablets/desktop) */
@media (min-width: 768px) {
    .logo {
        margin-top: 30px;
    }

    .content h1 {
        font-size: 2em;
    }

    .content p {
        font-size: 1.2em;
    }

    .download-buttons {
        flex-direction: row; /* Botões lado a lado */
        max-width: none;
    }

    .store-button {
        max-width: 180px;
    }
}
