/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f4f4f4;
    color: #1A1A1A; /* Cor dark */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-color: #ffffff;
}

.logo {
    margin-top: 20px;
    width: 150px;
}

.content {
    margin-top: 20px;
}

.content h1 {
    color: #012E40; /* Cor primary */
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
/* Botões - Lado a lado e mesmo tamanho */
.download-buttons {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
    margin: 30px 0;
    flex-wrap: wrap;
}

.store-button {
    display: inline-block;
    width: 180px; /* Tamanho igual para ambos */
    height: auto;
    transition: transform 0.2s;
}

.store-button img {
    width: 100%; /* Garante que a imagem preencha o container */
    height: auto;
}

.legal-links {
    background-color: #012E40; /* Cor primary */
    width: 100%;
    padding: 10px 0;
}

.legal-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.legal-links a:hover {
    text-decoration: underline;
}
